<mat-card class="login">
  <form class="example-form" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
    <mat-form-field class="example-full-width">
      <mat-label>
        <mat-icon>perm_identity</mat-icon>
        UserName
        <span class="mandatoryLabel">*</span>
      </mat-label>
      <input type="text" matInput formControlName="username">
      <mat-error *ngIf="f['username'].errors">
        {{getError('user')}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>
        <mat-icon>lock</mat-icon>
        Password
        <span class="mandatoryLabel">*</span>
      </mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error *ngIf="f['password'].errors">
        {{getError('pass')}}
      </mat-error>
    </mat-form-field>
    <section class="buttonSection">
      <button mat-raised-button color="primary">
        <mat-icon>login</mat-icon>
        Login
      </button>
    </section>
  </form>
</mat-card>