<h3 style="text-align: center;">How To Get Started?</h3>
<mat-tab-group>
    <mat-tab label="First"> 
        <span class="material-icons" style="font-size: 80px;vertical-align: center; ">
            account_box
            </span>
            <h2 style="text-align: center;">Create your account</h2>
            <p style="text-align: center;">your account has been activated</p>
         </mat-tab>
    <mat-tab label="Second">
        <span class="material-icons"style="font-size: 80px" >
            how_to_reg
            </span>
         </mat-tab>
    <mat-tab label="Third"> 
        <span class="material-icons" style="font-size: 80px">
            assignment_returned
            </span>
    </mat-tab>
  </mat-tab-group>
