<h3 style="text-align: center;">How To Get Started?</h3>
<mat-tab-group>
    <mat-tab label="Send Money"> 
        <span class="material-icons" style="font-size: 80px;display: flex;justify-content: center;">
            account_box
            </span>
            <h2 style="text-align: center;">Create your account</h2>
            <p style="text-align: center;">your account has been activated</p>
         </mat-tab>
    <mat-tab label="Recieve Money">
        <span class="material-icons"style="font-size: 80px" >
            how_to_reg
            </span>
            <h2 style="text-align: center;">Add Your Recipient</h2>
            <p style="text-align: center;">your account has been activated</p>
         </mat-tab>
    <mat-tab label="Track Transfer"> 
        <span class="material-icons" style="font-size: 80px">
            assignment_returned
            </span>
            <h2 style="text-align: center;">Transfer your Money </h2>
            <p style="text-align: center;">your account has been activated</p>
    </mat-tab>
    </mat-tab-group>
    
  