<diV style="text-align:center">
    <h1>Highlights</h1>
    <div class="inline">
        <div>
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <H3>HOME</H3>
            <p>UI component infrastructure and Material Design components for mobile and desktop Angular web applications.</p>
        </div>
    </div>
 <div class="inline">
        <div>
            <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
            <H3>like</H3>
            <p>UI component infrastructure and Material Design components for mobile and desktop Angular web applications.</p>
        </div>
    </div>
    <div class="inline">
        <div>
            <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
            <H3>like</H3>
            <p>UI component infrastructure and Material Design components for mobile and desktop Angular web applications.</p>
        </div>
    </div>
</diV>